<!DOCTYPE html>
<html>
    <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <h2>Register</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

        <form action="{% url 'login:create_new_user' %}" method="post">
            {% csrf_token %}
            <div class="container">

                <label><b>First name</b></label>
                <input type="text" name="firstname" placeholder="Enter first name." required>

                <label><b>Last name</b></label>
                <input type="text" name="lastname" placeholder="Enter Lastname." required><br>

                <label><b>Username</b></label>
                <input type="text" name="username" placeholder="Enter username." required><br>

                <label><b>Password</b></label>
                <input type="password" name="password" placeholder="Enter password" required>

                <label><b>Confirm Password</b></label>
                <input type="password" name="confirm_password" placeholder="Enter password" required><br>

                <label><b>Birthday</b></label>
                <input type="date" name="bday"><br>


                <input type="radio" name="gender" value="male" checked> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other<br>


                <input type="submit" name="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
