{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
<style media="screen">
    .center-cropped {
        height: 150px;
        width: auto;
        background-position: center center;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <ul class='nav nav-tabs'>
            <li class="active"><a data-toggle="tab" href="#overviewTab">Overview</a></li>
            {% for lecture in lecturesList %}
            <li><a data-toggle="tab" href="#{{lecture.video.videoID}}Tab">{{lecture.video.videoName}}</a></li>
            {% endfor %}
            {% if isOwner %}
                <li><a data-toggle="tab" href="#uploadTab">Upload</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div id="overviewTab" class="tab-pane fade in active">
                <h3>Edit course information</h3>
                {% if isOwner %}
                    <form action={% url 'course:edited_course' course.courseID %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Change course's name:<input type="text" name="courseName" placeholder="{{course.courseName}}"><br>
                        <div class="form-group">
                            <label for="courseCategory" class="control-label">Change Category: Current [{{inCategory}}]</label>
                            <select id="courseCategory" class="dropdown form-control" name="courseCategory">
                                <option value="">Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{category.categoryID}}">{{category.categoryName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        Change preview video: <input type="file" name="previewVideo"><br>
                        Change course's thumbnail: <input type="file" name="courseThumbnail"><br>
                        Change course's short description:<input type="text" name="courseShortDesc" placeholder="{{course.courseShortDesc}}"><br>
                        Change course's full description:<input type="text" name="courseFullDesc" placeholder="{{course.courseFullDesc}}"><br>
                        Check to publish course:<input type="checkbox" name="isPublish"><br>
                        Change Course discount (%):<input type="number" name="discountPercentage" min="0" max="100"> <br>
                        <input type="submit" value="Confirm">
                    </form>
                    <br>
                    <br>
                    <br>
                    <form action={% url 'course:reordered_video' course.courseID %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Reorder course's videos</h3>
                        {% for lecture in lecturesList %}
                            {{lecture.video.videoName}}
                            <select class='dropdown orderVideo' name='{{lecture.video.videoID}}'>
                                {% for orderNo in orderNoList %}
                                    <option value="{{orderNo}}">{{orderNo}}</option>
                                {% endfor %}
                            </select><br>
                        {% endfor %}
                        <input type="submit" value="Reorder">
                    </form>
                {% else %}
                    <p>{{course.courseName}}<br>
                    <p>{{courseInCategory.category.categoryName}}</p><br>
                    <video width="400" height="300" controls>
                        <source src="{{course.previewVideoFile.url}}" type="video/mp4">
                    </video>
                    <p>{{course.courseDesc}}</p>
                    <p>Owned by {{course.owner.first_name}} {{course.owner.last_name}}</p>
                {% endif %}
            </div>
            {% for lecture in lecturesList %}
                <div id="{{lecture.video.videoID}}Tab" class="tab-pane fade">
                    {% if isOwner %}
                        Edit Video [{{lecture.video.videoName}}]
                        <form action={% url 'course:edited_course' course.courseID %} method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            Change course's name:<input type="text" name="videoName" placeholder="{{lecture.video.videoName}}"><br>
                            Change video: <input type="file" name="videoFile"><br>
                        <input type="submit" value="Edit">
                    </form>
                    {% else %}
                        <h3>{{lecture.video.videoName}}</h3>
                        <p>This is the video description</p>
                        <video width="400" height="300" controls>
                            <source src="{{lecture.video.videoFile.url}}" type="video/mp4">
                        </video>
                    {% endif %}
                    <h3>Comment Section</h3>
                    {% for comment in lecture.comments %}
                        <li>
                            <div class="info-container">
                                <div class="avatar">
                                    <img src="{{comment.owner.profilePicture.url}}" alt="{{comment.owner}}'s avatar" />
                                </div>
                            </div>
                            <div class="user-details">
                                <ul>
                                    <li class="username ellipsis">{{comment.owner.first_name}} {{comment.owner.last_name}}</li>
                                    <li class="comment-create">{{comment.commentDate}}</li>
                                </ul>
                            </div>
                            <div class="comment-container">
                                <p>
                                    {{comment.commentDesc}}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                    <form action={% url 'course:comment_on_video' courseID=course.courseID videoID=lecture.video.videoID %} method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea id="commentDesc" name="commentDesc" rows="10" class="form-control" placeholder="Give your opinion about this video..." required></textarea>
                        </div>
                        <input type="submit" class="btn btn-block btn-primary" name="submitComment" value="Comment"/>
                    </form>
                </div>
            {% endfor %}
            {% if isOwner %}
                <div id="uploadTab" class="tab-pane fade">
                    <h3>Upload New Video</h3>
                    <form action={% url 'course:upload_video' courseID=course.courseID %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Video name: <input type="text" name="videoName" placeholder="Video Name" required><br>
                        Video description: <input type="text" name="videoDesc" placeholder="Video Description" required><br>   
                        <input type="file" name="videoToUpload" required>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
        
{% endblock %}
    <!--</body>
</html>-->