<!DOCTYPE>
<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>{{course.courseName}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </header>
    <body>
        <ul class='nav nav-tabs'>
            <li class="active"><a data-toggle="tab" href="#overviewTab">Overview</a></li>
            {% for video in videos %}
            <li><a data-toggle="tab" href="#{{video.videoID}}Tab">{{video.videoName}}</a></li>
            {% endfor %}
            {% if isOwner %}
                <li><a data-toggle="tab" href="#uploadTab">Upload</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div id="overviewTab" class="tab-pane fade in active">
                <h3>Overview</h3>
                {% if isOwner %}
                    <form action={% url 'course:edited_course' course.courseID %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Change course's name:<input type="text" name="courseName" placeholder="{{course.courseName}}"><br>
                        {% comment %}Change course's category:<input type="text" name="category" placeholder="{{inCategory}}"><br>{% endcomment %}
                        Change preview video: <input type="file" name="previewVideo"><br>
                        Change course's thumbnail: <input type="file" name="courseThumbnail"><br>
                        Change course's description:<input type="text" name="courseDesc" placeholder="{{course.courseDesc}}"><br>
                        <input type="submit" value="Confirm">
                    </form>
                {% else %}
                    <p>{{course.courseName}}<br>
                    <p>{{courseInCategory.category.categoryName}}</p><br>
                    <video width="400" height="300" controls>
                        <source src="{{preview.previewVideo.url}}" type="video/mp4">
                    </video>
                    <p>{{course.courseDesc}}</p>
                    <p>Owned by {{course.owner.first_name}} {{course.owner.last_name}}</p>
                {% endif %}
            </div>
            {% for video in videos %}
            <div id="{{video.videoID}}Tab" class="tab-pane fade">
                <h3>{{video.videoName}}</h3>
                <p>This is the video description</p>
                <video width="400" height="300" controls>
                    <source src="{{video.videoFile.url}}" type="video/mp4">
                </video>
            </div>
            {% endfor %}
            {% if isOwner %}
                <div id="uploadTab" class="tab-pane fade">
                    <h3>Upload New Video</h3>
                    <form action={% url 'course:upload_video' courseID=course.courseID %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Video name: <input type="text" name="videoName" placeholder="Video Name" required><br>   
                        <input type="file" name="videoToUpload" required>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            {% endif %}
        </div>
    </body>
</html>