{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static "ui/css/browse.css" %}"?"{% now "U" %}">
  <link rel="stylesheet" href="{% static "ui/css/navbar-fixed-side.css" %}"?"{% now "U" %}">
{% endblock %}

{% block body %}
<div class="container-fluid" style="overflow:hidden;">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side" style="text-align:center;overflow:hidden;">
        <!-- normal collapsible navbar markup -->

        <div class="container" style="text-align:left;">
          <form class="form-horizontal">
            <ul class="nav navbar-nav">
              <h1 style="text-align:center">Categories</h3>
                {% for category in categories %}
                  <li><a href="{% url 'browse:browseCategory' categoryID=category.categoryID %}">{{category.categoryName}}</a></li>
                {% endfor %}
            </ul>
          </form>
        </div>

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10" style="margin-left:14%" >
      <div class="container">

          <div class="col-lg-10">
            <div class="col-md-4">
              <h2 style="vertical-align: middle; font-size:250%;">Categories Name</h2>
              <hr />
            </div>
          </div>
          {% if featureCourse|length > 0 %}
          <div class="col-lg-10">
              <div class="container" id="best_course"style="text-align:center;">
                <div id="course_text">Feature Course</div>
                <div id="owl-no1" class="owl-carousel col-md-12">
                  {% for featureCourse in featureCourses %}
                    <div class="well well-sm">
                        <a href="{% url 'course:view_course' courseID=featureCourse.courseID %}"><img src="{{featureCourse.courseThumbnail.url}}" alt="{{featureCourse.courseName}}"  style="text-align:center;width:90%; height:90%; margin-left:5%;"> </a>
                        <div><h4><a href="{% url 'course:view_course' courseID=featureCourse.courseID %}">{{featureCourse.courseName}}</a></h4></div>
                        <div>{{featureCourse.courseShortDesc}}</div>
                        <div>Price: ฿{{featureCourse.coursePrice}}</div>

                    </div>
                  {% endfor %}
                </div>
              </div>
          </div>
          {% endif %}

          <div class="col-lg-10">
              <div class="container" id="best_course"style="text-align:center;">
                <div id="course_text">Most Popular Course</div>
                <div id="owl-no2" class="owl-carousel col-md-12">
                  {% for mostPopularCourse in mostPopularCourses %}
                  <div class="well well-sm">
                    <a href="{% url 'course:view_course' courseID=mostPopularCourse.courseID %}"><img src="{{mostPopularCourse.courseThumbnail.url}}" alt="{{mostPopularCourse.courseName}}" style="width:90%; height:90%; margin-left:5%;"></a>
                    <div><a href="{% url 'course:view_course' courseID=mostPopularCourse.courseID %}"><h4>{{mostPopularCourse.courseName}}</h4></a></div>
                    <div>{{mostPopularCourse.courseShortDesc}}</div>
                    <div>Price: ฿{{mostPopularCourse.coursePrice}}</div>

                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>

          <div class="col-lg-10">
              <div class="container" id="best_course"style="text-align:center;">
                <div id="course_text">Best Rate Course</div>
                <div id="owl-no3" class="owl-carousel col-md-12">
                  {% for bestRateCourse in bestRateCourses %}
                  <div class="well well-sm">
                    <a href="{% url 'course:view_course' courseID=bestRateCourse.courseID %}"><img src="{{bestRateCourse.courseThumbnail.url}}" alt="{{bestRateCourse.courseName}}" style="width:90%; height:90%; margin-left:5%;"></a>
                    <div><a href="{% url 'course:view_course' courseID=bestRateCourse.courseID %}"><h4>{{bestRateCourse.courseName}}</h4></a></div>
                    <div>{{bestRateCourse.courseShortDesc}}</div>
                    <div>Price: ฿{{bestRateCourse.coursePrice}}</div>
                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>
      </div>
      <a href="{% url 'browse:all' %}"><button type="button" class="btn btn-primary btn-block" style="margin-left:5em; margin-bottom=2%;">Browse All Course</button></a>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script>
  $(document).ready(function() {
  $("#owl-no1").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      margin: 50,
      dots: true,
      responsive:{
        0:{
            items:1,
            nav:false
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
      },

  });
  });
  $(document).ready(function() {
  $("#owl-no2").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      margin: 50,
      dots: true,
      responsive:{
        0:{
            items:1,
            nav:false
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
      },
  });
  });
  $(document).ready(function() {
  $("#owl-no3").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      margin: 50,
      dots: true,
      responsive:{
        0:{
            items:1,
            nav:false
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
      },

  });
  });
</script>

{% endblock %}
