<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Browse courses</title>
    </head>
    <body>
        {% if latest_course_list %}
            <ul>
                {% for course in latest_course_list %}
                <li>{{course.courseName}}</li>
                <li><img src="{{course.courseThumnail}}" alt="{{course.courseName}} Thumbnail" /></li>
                <li>{{course.courseRating}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                <strong>No available course.</strong>
            </p>
        {% endif %}
    </body>
</html>
