{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
    <style media="screen">
        .input-icon {
            position: relative;
        }

        .input-icon>i {
            position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon>input {
            padding-left: 25px;
            padding-right: 0;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
  <h2><strong>Create New Course</strong></h2>
  {% if message %}
      <div class="alert {% if success %}alert-success{% elif not success %}alert-danger{% endif %}" role="alert">
          <h3>{{message}}</h3>
      </div>
  {% endif %}
  <form action="{% url 'course:createCourse' %}" method="post" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="courseName" class="control-label">Course Name:</label>
        <input id="courseName" type="text" name="courseName" placeholder="Course Name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="courseCategory" class="control-label">Course Category:</label>
      <select id="courseCategory" class="dropdown form-control" name="courseCategory" required>
        <option value="">Choose Category</option>
        {% for category in courseCategory %}
          <option value="{{category.categoryID}}">{{category.categoryName}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="courseDesc" class="control-label">Course Description:</label>
      <textarea id="courseDesc" name="courseDesc" rows="10" class="form-control" placeholder="Course Description" required></textarea>
    </div>
    <div class="form-group">
      <label for="coursePrice">Course Price:</label>
      <div class="input-icon">
          <i>฿</i>
          <input id="coursePrice" type="number" step="any" name="coursePrice" class="form-control" placeholder="Course Price" value="0">
      </div>
    </div>
    <button type="submit" name="submit" class="btn btn-primary form-control">Create</button>
  </form>
</div>
{% endblock %}
