{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
<style media="screen">
    .center-cropped {
        height: 150px;
        width: auto;
        background-position: center center;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
    <!--<body>-->
    <div class="container">
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>{{course.courseName}}</h1>
            <p>{{course.courseShortDesc}}</p>
            <p>Instructed by {{course.owner.first_name}} {{course.owner.last_name}}</p>
            <p><b>Category:</b> {{inCategory}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="center-cropped" style="background-image: url({{course.courseThumbnail.url}});"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <span><h3><b>฿ {{course.coursePrice}}</b></h3></span>
            {% if isOwner %}
                <a class="btn btn-primary" href={% url 'course:manage_course' courseID=course.courseID %}>Manage Course</a>
            {% else %}
                {% if hasTakenCourse %}
                    <a class="btn btn-success" href={% url 'watchvideo:show_contents_in_tabs' courseID=course.courseID %}>Learn Now</a>
                {% else %}
                    <button type='button' class='btn btn-block btn btn-success' data-toggle='modal' data-target='#confirmPurchaseModal'>Take This Course</button>

                    <div id="confirmPurchaseModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            {% comment %}Modal content{% endcomment %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Confirm purchasing of {{course.courseName}}
                                    </h4>
                                </div>
                                <div class='modal-body'>
                                    <form action={% url 'takecourse:take_course' courseID=course.courseID %} method="POST">
                                        {% csrf_token %}
                                        <table class="list">
                                            <tr class="list-item">
                                                <td class="list-left"><b>Course name</b></td>
                                                <td class="list-right">{{course.courseName}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Insert coupon</b></td>
                                                <td class="list-right"><input type="text" name="coupon"></td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Your balance</b></td>
                                                <td class="list-right">{{userWithProfile.profile.balance}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>You Pay</b></td>
                                                <td class="list-right">฿ {{course.coursePrice}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Left balance</b></td>
                                                <td class="list-right">฿ {{leftBalance}}</td>
                                            </tr>
                                        </table>
                                        <input type="submit" class="btn btn-block btn-primary" value="Confirm">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <table>
                <tr>
                    <td>
                        <span>Lectures</span>
                    </td>
                    <td>
                        <span><b>{{numberOfLectures}}</b></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
            <h2><b>Course full description</b></h2>
            <p>
                {{course.courseFullDesc}}
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2><b>Reviews</b></h2>
            {% if reviews %}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <span class="hm">Average Rating</span>
                <div class="average-rate">
                    <h1><b>{{averageRating.rating__avg|floatformat:2}}</b></h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="rate-list-title">
                    <span><b>Details</b></span>
                </div>
                <ul>
                    {% for rateLevel in reviewRateLevel %}
                    <li>
                        <div class="row">
                            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{rateLevel.star}}</span>
                            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{rateLevel.percentage}}%;">
                                    </div>
                                </div>
                            </div>
                            <span class="col-xs-4 col-sm-2 col-md-2 col-lg-2">{{rateLevel.percentage}}%</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if reviews %}
            <ul class="reviews-list">
                {% for review in reviews %}
                    <li class="review">
                        <div class="info-container">
                            <div class="avatar">
                                <img src="{{review.owner.profile.profilePicture.url}}" alt="{{review.owner}}'s avatar" />
                            </div>
                        </div>
                        <div class="user-details">
                            <ul>
                                <li class="username ellipsis">{{review.owner.first_name}} {{review.owner.last_name}}</li>
                                <li class="review-create">{{review.reviewedDate}}</li>
                            </ul>
                        </div>
                        <div class="rating-container">
                            {{review.rating}}
                        </div>
                        <div class="comment-container">
                            <p>
                                {{review.reviewDesc}}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        <li {% if not reviews.has_previous %} class="disabled" {% endif %}><a {% if reviews.has_previous %}href="?reviewPage={{ reviews.previous_page_number }}" {% endif %} aria-label="Previous">Previous</a></li>
                        <li {% if not reviews.has_next %} class="disabled" {% endif %}><a {% if reviews.has_next %}href="?reviewPage={{ reviews.next_page_number }}" {% endif %} aria-label="Next">Next</a></li>
                    </ul>
                </nav>
            </div>
            {% else %}
            <span><h2>There is no review.</h2></span>
            {% endif %}

            {% if hasTakenCourse %}
            <form action="{% url 'course:reviewCourse' courseID=course.courseID %}" method="post" role="form">
                {% csrf_token %}
                <h2><label for="reviewDesc" class="control-label">Review this course</label></h2>
                <div class="form-group">
                    <label for="reviewRating" class="control-label">Give star(s) to this course</label>
                    <select id="reviewRating" class="dropdown form-control" name="reviewRating" required>
                        <option value="">Rate for this course</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Star</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea id="reviewDesc" name="reviewDesc" rows="10" class="form-control" placeholder="Say something to this course..." required></textarea>
                </div>
                <input type="submit" class="btn btn-block btn-primary" name="submitReview" value="Review"/>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
    <!--</body>
</html>-->
