{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}

<link rel="stylesheet" href="{% static "ui/css/index.css" %}"?"{% now "U" %}">
<link href="{% static "ui/kartik/css/star-rating.css" %}" media="all" rel="stylesheet" type="text/css" />

<!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
<link href="{% static "ui/kartik/themes/krajee-svg/theme.css" %}" media="all" rel="stylesheet" type="text/css" />

<script src="{% static "ui/kartik/js/star-rating.js" %}" type="text/javascript"></script>

<!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
<script src="{% static "ui/kartik/themes/krajee-svg/theme.js" %}"></script>



<style media="screen">
    .center-cropped {
        height: 150px;
        width: auto;
        background-position: center center;
        background-size: cover;
    }
    .list-right {
                padding-left: 6px;
                padding-top: 6px;
                padding-bottom: 6px;
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
    }
</style>
{% endblock %}

{% block body %}
    <!--<body>-->
    <div class="container">
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:2%">
            <h1>{{course.courseName}}</h1>
            <hr />

            <div style="font-size:150%">
              <div >
                  <font style="font-weight:bold">Course Overview : </font>{{course.courseShortDesc}}
              </div>
              <div >
                  <font style="font-weight:bold">Instructed by : </font><a href="">{{course.owner.first_name}} {{course.owner.last_name}}</a>
              </div>
              <div >
                  <font style="font-weight:bold">Category : </font>{{inCategory}}
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% comment %}<div class="center-cropped" style="background-image: url({{course.courseThumbnail.url}});">
                <img src="{{course.courseThumbnail.url}}" alt="Course Thumbmail">
            </div>{% endcomment %}
            <div>
                <img class="center-cropped" src="{{course.courseThumbnail.url}}" alt="Course Thumbmail" height="400" width="300">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <span><h3><b>฿ {{course.coursePrice}}</b></h3></span>
            {% if isOwner %}
                <a class="btn btn-primary" href={% url 'course:manage_course' courseID=course.courseID %}>Manage Course</a>
            {% else %}
                {% if hasTakenCourse %}
                    <a class="btn btn-success" href={% url 'watchvideo:show_contents_in_tabs' courseID=course.courseID %}>Learn Now</a>
                {% else %}
                    <button type='button' class='btn btn-block btn btn-success' data-toggle='modal' data-target='#confirmPurchaseModal'>Take This Course</button>

                    <div id="confirmPurchaseModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            {% comment %}Modal content{% endcomment %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Confirm purchasing of {{course.courseName}}
                                    </h4>
                                </div>
                                <div class='modal-body'>
                                    <form action={% url 'takecourse:take_course' courseID=course.courseID %} method="POST">
                                        {% csrf_token %}
                                        <table class="list">
                                            <tr class="list-item">
                                                <td class="list-left"><b>Course name</b></td>
                                                <td class="list-right">{{course.courseName}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Insert coupon</b></td>
                                                <td class="list-right"><input type="text" name="coupon"></td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Your balance</b></td>
                                                <td class="list-right">{{userWithProfile.profile.balance}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>You Pay</b></td>
                                                <td class="list-right">฿ {{course.coursePrice}}</td>
                                            </tr>
                                            <tr class="list-item">
                                                <td class="list-left"><b>Left balance</b></td>
                                                <td class="list-right">฿ {{leftBalance}}</td>
                                            </tr>
                                        </table>
                                        <br>
                                        {% if canTakeCourse %}
                                            <input type="submit" class="btn btn-block btn-primary" value="Confirm">
                                        {% else %}
                                            <input type="submit" class="btn btn-block btn-danger" value="Not enough balance" disabled>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        </div>
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12" ></div>

        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:2; margin-top:3%">
          <ul class="nav nav-tabs">
            <li role="presentation"class="active"><a href="#information" data-toggle="tab">Course Information</a></li>
            <li role="presentation"><a href="#owner" data-toggle="tab">Course Owner Information</a></li>
            <li role="presentation"><a href="#review" data-toggle="tab">Review</a></li>
          </ul>
        </div>

        <div class="tab-content col-sm-12 col-sm-12 col-md-12 col-lg-12"  >
          <div id="information" class="tab-pane fade in active">
              <div style="font-size:200%; margin-bottom:2%; margin-top:1%">
                <b>Course Information</b>
              </div>
              <hr />
              <div style="font-size:160%; margin-bottom:1%">
                <b>Course Description </b>
              </div>
              <div style="font-size:120%; margin-bottom:1%">
                  {{course.courseFullDesc}}
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Number Of Lecture Videos : </font>{{numberOfLectures}}
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Current Rating : </font>
                  {% with avgRate=averageRating.rating__avg|floatformat:2|default_if_none:-1 %}
                    {% if avgRate >= 0 %}
                        {{avgRate}} star
                    {% else %}
                        No Reviews yet.
                    {% endif %}
                  {% endwith %}
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Courses Price : </font>{{course.coursePrice}} Baht
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Category : </font>{{inCategory}}
              </div>
          </div>

          <div id="owner" class="tab-pane fade">
            <div style="font-size:200%; margin-bottom:2%; margin-top:1%">
              <b>Meet The Instructor</b>
            </div>
            <div class="col-sm-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center">
                <img src="{{course.owner.profile.profilePicture.url}}" alt="Profile picture" height="180" width="171" />
            </div>
            <div class="col-sm-10 col-sm-10 col-md-10 col-lg-10">
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Instructor Name : </font> {{course.owner.first_name}} {{course.owner.last_name}}
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                <b>Instructor Biology</b>
              </div>
              <div style="font-size:120%; margin-bottom:1%">
                  {{course.owner.profile.bio}}
              </div>
              <div style="font-size:160%; margin-bottom:1%">
                  <font style="font-weight:bold;">Instructor Contract Email : </font>{{course.owner.email}}
              </div>
            </div>
          </div>


          <div id="review" class="tab-pane fade">
            <h2><b>Reviews</b></h2>
            {% if reviews %}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <span class="hm">Average Rating</span>
                <div class="average-rate">
                    <input id="rating" name="rating" value="{{averageRating.rating__avg|floatformat:2}}" class="rating-loading">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="rate-list-title">
                    <span><b>Details</b></span>
                </div>
                <ul>
                    {% for rateLevel in reviewRateLevel %}
                    <li>
                        <div class="row">
                            <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{rateLevel.star}}</span>
                            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{rateLevel.percentage}}%;">
                                    </div>
                                </div>
                            </div>
                            <span class="col-xs-4 col-sm-2 col-md-2 col-lg-2">{{rateLevel.percentage}}%</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if reviews %}
            <h2><b>Review History</b></h2>
            <ul class="reviews-list">
                {% for review in reviews %}
                    <li class="review col-md-12 col-lg-12" style="margin-bottom:1.5%">
                        <div class="col-md-2 col-lg-2">
                            <div class="avatar">
                                <img src="{{review.owner.profile.profilePicture.url}}" alt="{{review.owner}}'s avatar" />
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-10">
                          <div class="user-details">
                              <ul>
                                  <li class="username ellipsis"><b>Username</b> : {{review.owner.first_name}} {{review.owner.last_name}}</li>
                                  <li class="review-create"><b>Date</b> : {{review.reviewedDate}}</li>
                              </ul>
                          </div>
                          <div class="rating-container" style="font-size:50%">
                            <input id="fixrating" value="{{review.rating}}" data-readonly="true" class="rating">
                          </div>
                          <div class="comment-container">
                            <b>User Review : </b>
                              <p>
                                  {{review.reviewDesc}}
                              </p>
                          </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        <li {% if not reviews.has_previous %} class="disabled" {% endif %}><a {% if reviews.has_previous %}href="?reviewPage={{ reviews.previous_page_number }}" {% endif %} aria-label="Previous">Previous</a></li>
                        <li {% if not reviews.has_next %} class="disabled" {% endif %}><a {% if reviews.has_next %}href="?reviewPage={{ reviews.next_page_number }}" {% endif %} aria-label="Next">Next</a></li>
                    </ul>
                </nav>
            </div>
            {% else %}
            <span><h2>There is no review.</h2></span>
            {% endif %}

            {% if hasTakenCourse %}
            <form action="{% url 'course:reviewCourse' courseID=course.courseID %}" method="post" role="form">
                {% csrf_token %}
                <h2><label for="reviewDesc" class="control-label">Review this course</label></h2>
                <div class="form-group">
                    <label for="reviewRating" class="control-label">Give star(s) to this course</label>
                    <input id="reviewRating" name="reviewRating" value="0" class="rating-loading">

                    <!-- <select id="reviewRating" class="dropdown form-control" name="reviewRating" required>
                        <option value="">Rate for this course</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Star</option>
                    </select> -->
                </div>
                <div class="form-group">
                    <textarea id="reviewDesc" name="reviewDesc" rows="10" class="form-control" placeholder="Say something to this course..." required></textarea>
                </div>
                <input type="submit" class="btn btn-block btn-primary" name="submitReview" value="Review"/>
            </form>
            {% endif %}
          </div>
        </div>


    </div>

    <br />  <br />  <br />
{% endblock %}


{% block script %}
<script>
$(document).on('ready', function(){
    $('#rating').rating({displayOnly: true, step: 0.5});
});
$(document).on('ready', function(){
    $('#fixrating').rating({displayOnly: true,
      step: 1,
      starCaptions: {1: 'Very Poor', 2: 'Poor', 3: 'Ok', 4: 'Good', 5: 'Very Good'},
      starCaptionClasses: {1: 'text-danger', 2: 'text-warning', 3: 'text-info', 4: 'text-primary', 5: 'text-success'}

    });
});
$(document).on('ready', function(){
    $('#reviewRating').rating({
        step: 1,
        starCaptions: {1: 'Very Poor', 2: 'Poor', 3: 'Ok', 4: 'Good', 5: 'Very Good'},
        starCaptionClasses: {1: 'text-danger', 2: 'text-warning', 3: 'text-info', 4: 'text-primary', 5: 'text-success'}
    });
});
</script>

{% endblock %}
    <!--</body>
</html>-->
