{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static "ui/css/index.css" %}"?"{% now "U" %}">
{% endblock %}

{% block body %}
  <div class="jumbotron" id="banner">
    <div class="container" >
        <div style="text-align:center;color:white">
          <div class="col-md-12" style="margin-top:3%">
            <h1 >Welcome to Coursing Field</h1>
          </div>
          <div class="col-md-12">
            <h2 >Be the Educator! or the Educated!</h3>
          </div>
          <div class="col-md-12">
            <a href="{% url 'browse:all' %}"><button type="button" class="btn btn-trans btn-trans-default" style="margin-left:0em;background: black; border: 2px solid white;"><div style="font-size:150%;color:white">Begin Your Journey Now !</div></button></a>
          </div>
        </div>
      </div>
  </div>

  <div class="container" id="best_course" style="text-align:center;">
    <div style="margin-bottom:2em;">
      <h1>Most Popular Course</h1>
    </div>
    <div id="owl-no1" class="owl-carousel col-md-12">
      {% for mostPopularCourse in mostPopularCourses %}
        <div class="well well-sm">
          <a href="{% url 'course:view_course' courseID=mostPopularCourse.courseID %}">
            <img src={{mostPopularCourse.courseThumbnail.url}} alt="{{mostPopularCourse.courseName}}" style="text-align:center;width:90%; height:90%; margin-left:5%;">
          </a>
          <div><a href="{% url 'course:view_course' courseID=mostPopularCourse.courseID %}"><h4>{{mostPopularCourse.courseName}}</h4></a></div>
          <div>{{mostPopularCourse.courseShortDesc}}</div>
          <div>Price: ฿{{mostPopularCourse.coursePrice}}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if featureCourses|length > 0 %}
  <div class="container" id="best_course" style="text-align:center;">
    <div style="margin-bottom:2em;">
      <h1>Feature Course</h1>
    </div>
    <div id="owl-no2" class="owl-carousel col-md-12">
      {% for featureCourse in featureCourses %}
        <div class="well well-sm">
          <a href="{% url 'course:view_course' courseID=featureCourse.courseID %}"><img src="{{featureCourse.courseThumbnail.url}}" alt="{{featureCourse.courseName}}" style="width:150px; height:150px; margin-left:5%;"></a>
          <div><a href="{% url 'course:view_course' courseID=featureCourse.courseID %}"><h4>{{featureCourse.courseName}}</h4></a></div>
          <div>{{featureCourse.courseShortDesc}}</div>
          <div>Price: ฿{{featureCourse.coursePrice}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    $("#owl-no1").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      // items : 5,
      responsiveClass:true,

      margin: 50,
      responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
      }
    });
  });
  $(document).ready(function() {
    $("#owl-no2").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      items : 5,
      margin: 50,
    });
  });
</script>

{% endblock %}
