{% extends 'ui/navbar.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "ui/css/index.css" %}"?"{% now "U" %}">
{% endblock %}

{% block body %}
<div class="jumbotron" id="banner">
  <div class="container" >
      <div id="banner_text">
        <div class="col-md-12">
          <h1 id="welcome_text">Welcome to Coursing Field</h1>
        </div>
        <div class="col-md-12">
          <h2 id="header_text">Be the Educator ! or the Educated !</h3>
        </div>
        <div class="col-md-12">
          <!-- <a href="">Begin Your Journey Now !</a> -->
          <button type="button" class="btn btn-trans btn-trans-default" style="margin-left:0em;background: black; border: 2px solid white;"><h4>Begin Your Journey Now !</h4></button>
        </div>
      </div>
    </div>
</div>

<!--  -->
<div class="container" id="best_course" style="text-align:center;">
  <div class="" style="margin-bottom:2em;"><h1>Most Popular Course</h1></div>
  <div id="owl-no1" class="owl-carousel col-md-12">
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>

    ...
  </div>
</div>

<div class="container" id="best_course" style="text-align:center;">
  <div class="" style="margin-bottom:2em;"><h1>Feature Course</h1></div>
  <div id="owl-no2" class="owl-carousel col-md-12">
    <div class="well well-sm">
      <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
      <div><h4>Course Name No.1</div>
      <div>Course Name No.1</div>
      <div>Course Name No.1</div>
      <div>Price : 500 Baht</div>
    </div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
    <div class="well well-sm">
  <a href="#"><img src="{% static "ui/img/item.jpg" %}" alt="" style="width:150px; height:150px; margin-left:5%;"> </a>
  <div><h4>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Course Name No.1</div>
  <div>Price : 500 Baht</div>
</div>
  </div>
</div>



<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">
                    <a href="#"><h3 style="text-align: center;">Coursing Field</h3></a>
                    <div style="text-align: center;">
                      Cousing Field is the platform that allow any user to take any interested course they want and teaching any other individuals at the same time
                    </div>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Course </h3>
                    <ul>
                        <li> <a href="#"> All Course </a> </li>
                        <li> <a href="#"> Create Course </a> </li>
                        <li> <a href="#"> View Course </a> </li>
                        <li> <a href="#"> Browse Course </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Profile </h3>
                    <ul>
                        <li> <a href="#"> My Profile </a> </li>
                        <li> <a href="#"> My Course </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Contract Us  </h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

</footer>
<br><br>
{% endblock %}


{% block script %}
<script>
  //OWL CAROUSEL
  $(document).ready(function() {
  $("#owl-no1").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 400,
      items : 5,
      margin: 50,
  });
});
$(document).ready(function() {
$("#owl-no2").owlCarousel({
    slideSpeed : 300,
    paginationSpeed : 400,
    items : 5,
    margin: 50,

  });
});


</script>

{% endblock %}
