{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {% block script %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static "ui/owl-carousel/assets/owl.carousel.min.css" %}">
    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static "ui/owl-carousel/assets/owl.theme.default.min.css" %}">

    <!-- Latest compiled and minified CSS -->
    <!-- Include js plugin -->
    <script src="{% static "ui/owl-carousel/owl.carousel.js" %}"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static "ui/css/navstyle.css" %}"? "{% now "U" %}">
    {% block style %}
    {% endblock %}
    <style media="screen">
      #navbar {
        margin-bottom: 80px;
      }
      #logout-btn:hover {
        background-color: red;
        color: white;
      }
    </style>
</head>

<body>
    <div id="navbar">
      <nav id="navbar" class="navbar navbar-default navbar-default navbar-fixed-top">
          <!-- Handle Toggle -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      <!-- Do the toggle -->
    </button>
          <!-- End Handle Toggle -->
          <div class="container-fluid">
              <div class="col-md-2">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="{% url 'index:index' %}">
                          <div id="head">Coursing Field</div>
                      </a>
                  </div>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="col-md-1">
                      <ul class="nav navbar-nav">
                          <li><a href="{% url 'browse:browseIndex' %}">Browse</a></li>
                      </ul>
                  </div>
                  <div class="col-md-5">
                      <form class="navbar-form navbar-left">
                          <div class="form-group">
                              <input type="text" class="form-control" id="searchfield" placeholder="Search"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                          </div>
                      </form>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">My Course</a></li>
                      <li><a href="{% url 'course:createCourse' %}" style="background-color: limegreen; color: white;">Create Course</a></li>
                      {% if user.is_authenticated %}
                        <li><a href="{% url 'account:profile' %}">{{user}}</a></li>
                        <li><a href="{% url 'account:logout' %}" id="logout-btn">Logout</a></li>
                      {% else %}
                        <li><a href="{% url 'account:register' %}">Register</a></li>
                        <li><a href="{% url 'account:login' %}">Login</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
    </div>

    {% block body %}
    {% endblock %}

</body>

</html>
